
.cajas
{
    width: 80px;
    height: 80px;
    background: black;
    border-radius: 5px;
    display: inline-block;
}

button
{
    width: 100px;
    height: 45px;
    background-color: blue;
    color: white;
    border-radius: 15px;
    display: inline-block;
}

